<div class="toast-container"></div>
<% if (flash) { %>
<div id="flash-data" data-type="<%= flash.type %>" data-message="<%= flash.message %>" style="display:none"></div>
<% } %>
<script src="/js/dash.js"></script>
</body>
</html>
